 * {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth; /*Scrool suave nas transições*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 25px;
    background-color: #336666;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

header img {
    width: 100px;
}

header h1 {
    display: flex;
    align-items: center;
    color: #f1731f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 80px;
    right: 100px;
    font-weight: 600;
}

.list-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.list-menu ul li {
    list-style: none;
}

.list-menu ul li a {
    text-decoration: none;
    color: #f1731f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 50;
}

.sessao-01 {
    background-image: url(imagens/ai-generated-8909925_1280.jpg);
    padding: 300px;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;

}

.sessao-01 button {
    width: 160px;
    background-color: #f1731f;
    padding: 12px;
    color: white;
}


.sessao-02 {
    padding: 150px;
    background-color: #ece7dd;

    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}


.sessao-02 div {
    width: 300px;
    height: 300px;
    background-color: #f1731f;
    text-align: center;
    padding: 10px;
}

.sessao-02 div span {
    color: #336666;
}

.sessao-02 div p {
    font-size: 25px;
    color: #fff;
}

.sessao-02 div h2 {
    font-size: 25px;
    color: #fff;
}


.div-02 img {
    width: 100%;
}

.div-02 i {

    color: #336666;

}


.sessao-03 {
    padding: 160px;
    background-color: #c6b699;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}
.sessao-03 p {
background-color: #f1731f8a;
padding: 50px;
    
}

.sessao-03 span {
    color: #336666;
}

.div-img img {
    width: 500px;
    height: 500px;
    border-radius: 30px;
}



.div-p p {
    font-size: 30px;
    color: #fff;
}

.sessao-04 {
    padding: 160px;
    background-color: #b49d78;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}

.sessao-04 p {
    font-size: 30px;
    color: #fff;
    padding: 50px;
    background-color: #f1731f6e;
}


/* inicio dda segunda pagina */
#sessao-01-pg1 {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 100;
       align-items: center;
       gap: 30px;
    }

    #sessao-01-pg1 h2 {
        color:white
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
       background-color: #f1731fbd;
    }

    #sessao-01-pg1 p {
        padding: 15px;
        background-color: #f1731fce;
        
    }


















footer {
    padding: 7px;
    background-color: #336666;
    text-align: center;
}

footer img {
    width: 90px;
}

footer h3 {
    color: #f1731f;
}

footer h2 {
    font-size: 15px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}